/*
** Copyright Microsoft, Inc. 1994 - 2000
** All Rights Reserved.
*/

SET NOCOUNT ON
GO

USE master
GO
if exists (select * from sysdatabases where name='ShopBase')
		drop database ShopBase
go

DECLARE @device_directory NVARCHAR(520)
SELECT @device_directory = SUBSTRING(filename, 1, CHARINDEX(N'master.mdf', LOWER(filename)) - 1)
FROM master.dbo.sysaltfiles WHERE dbid = 1 AND fileid = 1

EXECUTE (N'CREATE DATABASE ShopBase
  ON PRIMARY (NAME = N''ShopBase'', FILENAME = N''' + @device_directory + N'shopbase.mdf'')
  LOG ON (NAME = N''ShopBase_log'',  FILENAME = N''' + @device_directory + N'shopbase.ldf'')')
go


set quoted_identifier on
GO

/* Set DATEFORMAT so that the date strings are interpreted correctly regardless of
   the default DATEFORMAT on the server.
*/
SET DATEFORMAT mdy
GO
use "ShopBase"
go

if exists (select * from sysobjects where id = object_id('dbo.Products') and sysstat & 0xf = 3)
	drop table "dbo"."Products"
GO
if exists (select * from sysobjects where id = object_id('dbo.Categories') and sysstat & 0xf = 3)
	drop table "dbo"."Categories"
GO

if exists (select * from sysobjects where id = object_id('dbo.Carts') and sysstat & 0xf = 3)
	drop table "dbo"."Carts"
GO

CREATE TABLE "Categories" (
	"Id" "int" IDENTITY (1, 1) NOT NULL ,
	"Name" nvarchar (15) NOT NULL ,
	CONSTRAINT "PK_Categories" PRIMARY KEY  CLUSTERED 
	(
		"Id"
	)
)
GO
 CREATE  INDEX "CategoryName" ON "dbo"."Categories"("Name")
GO

CREATE TABLE "Products" (
	"Id" "int" IDENTITY (1, 1) NOT NULL ,
	"Name" nvarchar (40) NOT NULL ,
	"CategoryId" int NULL ,
	"Price" decimal NOT NULL DEFAULT (0),
	CONSTRAINT "PK_Products" PRIMARY KEY  CLUSTERED 
	(
		"Id"
	),
	CONSTRAINT "FK_Products_Categories" FOREIGN KEY 
	(
		"CategoryId"
	) REFERENCES "dbo"."Categories" (
		"Id"
	))
	GO

	CREATE TABLE "Carts" (
	"Id" "int" IDENTITY (1, 1) NOT NULL ,
	"CartId" nvarchar (40) NOT NULL ,
	"ProductId" int NOT NULL ,
	"Count" int NOT NULL DEFAULT (0),
	CONSTRAINT "PK_Carts" PRIMARY KEY  CLUSTERED 
	(
		"Id"
	),
	CONSTRAINT "FK_Carts_Products" FOREIGN KEY 
	(
		"ProductId"
	) REFERENCES "dbo"."Products" (
		"Id"
	))
	GO

set quoted_identifier on
go
set identity_insert "Categories" on
go
ALTER TABLE "Categories" NOCHECK CONSTRAINT ALL
go
INSERT "Categories"("Id","Name") VALUES(1,'Beverages')
INSERT "Categories"("Id","Name") VALUES(2,'Condiments')
INSERT "Categories"("Id","Name") VALUES(3,'Confections')

set identity_insert "Categories" off
go
ALTER TABLE "Categories" CHECK CONSTRAINT ALL
go

set quoted_identifier on
go
set identity_insert "Products" on
go
ALTER TABLE "Products" NOCHECK CONSTRAINT ALL
go
INSERT "Products"("Id","Name","CategoryId","Price") VALUES(1,'Chai',1,18)
INSERT "Products"("Id","Name","CategoryId","Price") VALUES(2,'Chang',1,19)
INSERT "Products"("Id","Name","CategoryId","Price") VALUES(3,'Aniseed Syrup',2,10)
go										
set identity_insert "Products" off
go
ALTER TABLE "Products" CHECK CONSTRAINT ALL
go